
button {
    transition: all .5s ease;
    color: #000000;
    border: 3px solid rgb(58, 191, 232);
    font-family:'Montserrat', sans-serif;
    
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 191, 232);
}
.big_button {
    font-size: 30px;
}