body {
    font-family: "Lato", sans-serif;
  }
  .padding{
    width:1em;
    height: 1em;
  }

  .navbar {
    justify-content: left;

    display: flex;
  }
  .rond {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .topimg{
    position: absolute;
    left: 49%;

    width: 3em;
    height: 3em;
  }
  .bars {
    height: 2.2em;
    border-radius: 30px;
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }
  .main {
    font-size: 28px; 
  }
  .font{
    font-family:'Montserrat', sans-serif;
  }