body {
    background-color:#E7E9EB;
  }
  #container {
    height:300px;
    grid-template-columns: auto auto auto auto auto auto;
  
    display: grid;
    gap: 10px;
    
  }
  #container div {
   width: 190px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 10px;
    height: 190px;
    text-align: center;
  }
